
h1 {
  color: black;
  justify-content: space-around;
  font-style: fantasy;
  font-weight: 500;
  display: flex;
  padding: 50px;
  font-size: 55px;
  background-color: white;
  font-family: Georgia, sans-serif;
}

header {
  background-color: lightblue;
}

body {
  background-color: white;
  color: black;
  font-family: "Monaco", monospace;
  text-align: center;
}


